<button (click)="start()">start</button>
    <button (click)="stop()">stop</button>
    <button (click)="pause()">pause</button><br><br>
<input type="number" [(ngModel)]="this.myTimer.maxStep"/><br><br>
  speed <app-speed-control></app-speed-control><br>

gain<input [(ngModel)]="gain" type="range" min="0"  max="1" step="0.01"/><br>
      freq<input [(ngModel)]="frequency" type="range" min="10" max="1000"/><br>
<div>
A<input class="range"[(ngModel)]="attack" type="range" min="0"  max="1" step="0.01"/>
D<input class="range"  [(ngModel)]="decay" type="range" min="0" max="1" step="0.01"/>
S<input class="range"[(ngModel)]="sustain" type="range" min="0" max="1" step="0.01"/>
S<input class="range"[(ngModel)]="sustainVal" type="range" min="0" max="1" step="0.01"/>
R<input class="range" [(ngModel)]="relase" type="range" min="0" max="1" step="0.01"/>

</div>
<app-timer-monitor></app-timer-monitor>
<canvas #canvas width="8000" height="8000" (click)="handleChange($event)"></canvas>
{{count}}

